{% extends "dashboard/base.html" %}

{% load status_tags %}

{% block content %}
<table>
<tr>
    <th>Pipeline</th>
    <th>Mesa SHA</th>
    <th>Status</th>
</tr>

{% for p in pipeline_results %}
<tr>
    <td>
        <a href="{{p.url}}">{{p.id}}</a>
    </td>
    <td>
        {% if p.mesa_sha %}
        <a href="{{p.mesa_url}}">{{ p.mesa_sha }}</a>
        {% endif %}
    </td>
    <td style="text-align:center">
        <a href="{% url 'results' p.id %}">{{ p.status | status_icon | safe}}</a>
    </td>
</tr>
{% endfor %}

</table>
{% endblock content %}
