{% extends "dashboard/base.html" %}

{% load status_tags %}

{% block content %}
<p>Trace result for Pipeline <a href="{{pipeline_result.url}}"> {{pipeline_result.id}} </a>
<p>Mesa SHA:
{% if pipeline_result.mesa_sha %}
<a href="{{pipeline_result.mesa_url}}">{{ pipeline_result.mesa_sha }}</a></p>
{% endif %}
</p>

<table>
<tr>
    <th>Trace</th>
    <th>Result</th>
</tr>

{% for t in trace_results %}
<tr>
    <td>{{t.name}}</td>
    <td style="text-align:center">
        <a href="{{t.summary_url}}"> {{ t.status | status_icon | safe}} </a>
    </td>
</tr>
{% endfor %}

</table>

{% endblock content %}
